# Ігнорувати всі скомпільовані Java-файли
*.class

# Ігнорувати папки, куди IDE складає результат компіляції
/out/
/bin/
/build/

# Ігнорувати налаштування IDE (щоб не конфліктувати з колегою)
.idea/
*.iml
.vscode/